<!--"Make Public" modal-->
<div class="modal" id="makepublic" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">File Not Public</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>File must be made public in order to view in IGB</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="manageLinkOperations_frompopup()">Make Public
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--"IGB not running" modal-->
<div class="modal fade" id="igbWarning" tabindex="-1" role="dialog" aria-labelledby="igbWarningTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="igbWarningTitle">Warning: IGB is not Running</h5>
      </div>
      <div class="modal-body">
        Please start IGB
          <br>- or - <br>
          install IGB using the download link below
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="installerDownload()">Download Now</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!--Rename File/Folder-->
<div class="modal fade" id="renameFileFolder" tabindex="-1" role="dialog" aria-labelledby="renameFileFolderTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renameFileFolderTitle"><i class="far fa-edit mr-3"></i>Rename...</h5>
      </div>
        <div class="input-group">
            <input type="text" class="form-control renameText m-3" onclick="this.select()"/>
        </div>
         <span class="bg-warning renameFolderWarning mr-3 ml-3 mb-2 pl-3 pr-3"><i class="fas fa-exclamation-triangle"></i>
            Renaming folders may take longer than expected. Please refresh page after a few seconds.
         </span>
        <div class="modal-footer">
            <span class="text-danger renameError mr-3 ml-3 pl-3 pr-3"></span>
            <button type="button" class="btn btn-primary" onclick="renameFileFolder(this)">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>

    </div>
  </div>
</div>
<!--Create New Folder-->
<div class="modal fade" id="newFolder" tabindex="-1" role="dialog" aria-labelledby="newFolderTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="newFolderTitle"><i class="fas fa-plus mr-3"></i>Create New Folder</h5>
      </div>
        <div class="input-group">
            <input type="text" class="form-control newFolderTitle m-3" onclick="this.select()"/>
        </div>
        <div class="modal-footer">
            <span class="text-danger newFolderError mr-3 ml-3 pl-3 pr-3"></span>
            <button type="button" class="btn btn-primary" onclick="createNewFolder(this)">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>

<!--Upload by URL-->
<div class="modal fade" id="uploadURL" tabindex="-1" role="dialog" aria-labelledby="uploadURLTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="uploadURLTitle"><i class="fas fa-plus mr-3"></i>Upload by URL</h5>


      </div>
        <div class="d-flex p-2 justify-content-center"><i class="text-info pr-2 pt-1 fas fa-info"></i>
            You will receive an email once the upload is complete (or has failed)
        </div>
        <div class="input-group">
            <input type="text" class="form-control uploadURLTitle m-3" onclick="this.select()"/>
        </div>

        <div class="modal-footer">
            <span class="text-danger uploadURLError mr-3 ml-3 pl-3 pr-3"></span>
            <button type="button" class="btn btn-primary" onclick="uploadByURL(this)">Upload</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>

<!--Upload File/Folder-->
<div class="modal fade" id="uploadFileFolder" tabindex="-1" role="dialog" aria-labelledby="uploadURLTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="uploadFileFolderTitle"><i class="fas fa-plus mr-3"></i>Upload File/Folder</h5>
      </div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group ml-5">
                <input type="file" name="file" class="form-control-file mt-3" id="uploadFileFolderInput">
            </div>
            <div class="modal-footer">
                <span class="text-danger uploadFileFolderError mr-3 ml-3 pl-3 pr-3"></span>
                <button type="button" class="btn btn-primary" onclick="upload(this)">Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
  </div>
</div>

<!--Cookie Modal-->
<div class="modal fade bottom" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <p class="pt-3 pr-2">We use cookies to improve your website experience</p>
                    <a type="button" class="btn btn-outline-primary waves-effect" onclick="setCookie()" data-dismiss="modal">Ok, thanks</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Delete Modal -->
<div class="modal fade" id="deleteFileFolderModal" tabindex="-1" role="dialog" aria-labelledby="deleteFileFolderModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="deleteFileFolderModalTitle"><i class="fas fa-trash-alt mr-3"></i>Delete File/Folder</h5>
      </div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group ml-5">
                <h5 >Are you sure you want to delete this file/folder?</h5>
               <span class="text-warning">
                   <i class="fas fa-exclamation-triangle mr-1"></i>
                   Folders may take several minutes to be deleted
               </span>
            </div>
            <div class="modal-footer ">
                <span class="text-danger deleteFileFolderError mr-3 ml-3 pl-3 pr-3"><strong class="text-success"></strong></span>
                <button type="button" class="btn btn-primary" onclick="deleteFileFolderYes(this)">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="selectedRow($('#deleteFileFolderModal').data('row_id'),false)">No</button>
            </div>
        </form>
    </div>
  </div>
</div>
<!--"Update IGB to newer version"-->
<div class="modal fade" id="igbUpdateWarning" tabindex="-1" role="dialog" aria-labelledby="igbWarningTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title alert-warning p-2" id="igbUpdateWarningTitle">Warning: Older versions of IGB may not work correctly with BioViz Connect.</h5>
      </div>
      <div class="modal-body">
          <div>
            <h6>Download the newer version of IGB now by clicking below or later from bioviz.org</h6>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="installerDownload()">Download Now</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
